mutt/cache/*
*.elc
emacs.d/auto-save-list
emacs.d/backups
emacs.d/elpa
emacs.d/ido.last
emacs.d/places
emacs.d/request
emacs.d/settings.el
emacs.d/tramp
emacs.d/url

# Vundle will handle this, so I stop dealing with stupid subprojects
vim/bundle
nvim/bundle
